services:
  mysql:
    image: mysql:8.0
    container_name: lumina_mysql
    environment:
      MYSQL_ROOT_PASSWORD: '@chandrashu'
      MYSQL_DATABASE: lumina_finance
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  server:
    build: ./server
    container_name: lumina_server
    ports:
      - "5000:5000"
    environment:
      DB_HOST: mysql
      DB_USER: root
      DB_PASSWORD: '@chandrashu'
      DB_NAME: lumina_finance
      PORT: 5000
    depends_on:
      mysql:
        condition: service_healthy
    volumes:
      - ./server:/app
      - /app/node_modules

  client:
    build: ./client
    container_name: lumina_client
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:5000/api
    volumes:
      - ./client:/app
      - /app/node_modules
    depends_on:
      - server

volumes:
  mysql_data:
